@charset "UTF-8";

/* 레이아웃 */
#wrap {}
#header {height: 300px; background: #111; background: rgba(8,25,53,0.95);}
#contents {}
#footer {height: 75px; background: rgba(8,25,53,0.95);}

/* 컨텐츠 레이아웃 */
.cont-nav {height: 54px; background: rgba(255,220,70,0.8);}
.cont-cont {background: #f5f5f5;}

/* 컨테이너 */
#header .container {background: url(../img/header_img_Take_over.jpg) center no-repeat;}
.container {width: 900px; height: inherit; margin: 0 auto;}

/* 헤더 */
.header-tit {}
.header-tit h1 a {display: block; color: rgba(255,255,255,255); line-height: 250px; font-size: 170px; text-align: center; font-family: 'Nanum Brush Script', cursive;}
.header-tit p {font-style: bold; color: rgba(255,255,255,255); font-size: 30px; text-align: center; font-family: 'Nanum Brush Script', cursive;}

/* cont-네브 */
.nav {}
.nav ul {overflow: hidden;}
.nav li {width: 200px; float: left; padding: 0 50px; line-height: 50px; text-align: center;}
.nav li:hover {border-bottom: 4px solid #333; margin-bottom: -2px;}
.nav li a {font-size: 20px; color: #333;}

/* cont-경기일정 */
.schedule {padding: 30px 0 30px 0;}
.schedule table {margin: 0 auto;}
.schedule table tr {}
.schedule table .date {background: rgba(25,25,25,25); color: rgba(255,255,255,255); border-bottom: 3px solid #aaa;}
.schedule table .date .today {background: rgba(25,25,150,25); color: rgba(255,255,255,255);}
.schedule table tr td {width: 130px;}
.schedule table tr td .type {}
.schedule table tr td .team {display: block; margin-top: -10px;}
.schedule table tr td .vs {display: block; font-size: 20px; font-weight: bold; margin: -15px 0;}
.schedule table tr td .team {font-size: 13px;}
.schedule table tr td .img_container {margin: 0 auto; width: 120px; height: 120px; line-height: 120px;}
.schedule table tr td .img_container img {width: 100px; vertical-align: middle;}

/* cont-일정표 */
.date {padding-bottom: 30px;}
.date h3 {font-size: 30px; padding: 0 0 25px 450px;}
.date table {margin: 0 auto;}
.date table .inst {background: rgba(25,25,25,25); color: rgba(255,255,255,255); border-bottom: 3px solid #aaa;}
.date table .inst th {}
.date table tr {}
.date table tr .long {width: 600px; position: relative;}
.date table tr .long .team1_img {position: absolute; transform: translateX(-50%); top:11px; left: 180px;}
.date table tr .long .team1 {position: absolute; transform: translateX(-50%); top:20px; left: 250px;}
.date table tr .long .vs {position: absolute; transform: translateX(-50%); top:20px; left: 307.5px;}
.date table tr .long .team2 {position: absolute; transform: translateX(-50%); top:20px; left: 365px;}
.date table tr .long .team2_img {position: absolute; transform: translateX(-50%); top:11px; left: 430px;}
.date table tr td {padding: 5px 9px 5px 9px; height: 35px; text-align: center;}
.date table tr td img {height: 25px; padding: 0 5px;}
.date table tr td span {}
.date table tr .today {background: rgba(25,25,150,25); color: #ffffff}

/* 푸터 */
.footer {}
.footer p {color: rgba(255,255,255,1); text-align: center; padding-top: 10px;}
.footer address {color: rgba(255,255,255,1); text-align: center; padding-top: 10px;}